
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";



body
{
    position:relative;
	width: 1600px;
	height: 1600px;
}

div#tealogo
{
 position: absolute;
 top: 10px;
 left: 150px;
 bottom: 1000px;
 width: 150px;
 height: 160px;

}
div#tealeaf_list
{
  position:absolute;
  left: 660px;
  top: 200px;
  color:#B8DCDC;
  font-size:21px;
}

div#baseflavour_list
{
  position:absolute;
  left: 1060px;
  top: 200px;
  color: #B8DCDC;
  font-size:21px;
}

div#accentflavour_list
{
  position:absolute;
  left: 1360px;
  top: 200px;
  color:#B8DCDC;
  font-size:21px;
}

h3#listtitles
{
	font-size: 30px;
	color: #FFFFF5;
}
 h4#hi
 {
   position:absolute;
   top: 500px;
   left: 220px;
   color: white;
   font-size: 24px;
 }

 div#newspaper
 {
  position:absolute;
  top: 700px;
  left: 345px;
  font-family: 'Indie Flower', cursive;
   font-size: 30px;

 }


 div.summary_for_tea
 {
    position:absolute;
	left: 1300px;
	top: 300px;
 }

 div#perfect_tea
 {
   position: absolute;
   top: 575px;
   left: 220px;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-size: 26px;
 }

div#background
{
 position: fixed;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
 
 a:link {
    color: #55ACAC;
}

a:visited {
    color: #66A6A6;
}


a:hover {
    color: #73D6D6;
}


a:active {
    color: #55ACAC;
}
 

div#create_button
{
 position:absolute;
 left: 1600px;
 top: 1700px;
 bottom: 20px;
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0px;
 font-size: 40px;
}

div#web_button
{
 position:absolute;
 left: 550px;
 top: 1700px;
 bottom: 20px;
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0px;
 font-size: 40px;
 font-family: 'Raleway', sans-serif;

}

div#einstein_pic
{
	position:absolute;
	top:470px;
	left: 300px;
	height:150px;
	width: 200px;
}

h4#einstein_title
{
   position:absolute;
   top: 400px;
   left: 300px;
   color: white;
   font-size: 24px;
}


div#einstein_quote
{
   position: absolute;
   top: 775px;
   left: 340px;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-size: 26px;

}


div#elink
{
	
  position:absolute;
  top: 885px;
  left: 420px;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

div#web2_button
{
	position:absolute;
	left:300px;
	top: 1100px;
	font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
}

div#create2_button
{
	position:absolute;
	left:1750px;
	top: 1100px;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
}

h1
{
position: absolute;
left: 750px;
top: 250px;
font-family: 'Raleway', sans-serif;
letter-spacing: 0px;
 font-size: 65px;
 color: #55ACAC;

}
div.logo.cycle-slideshow
{
position:absolute;
    top: 10px;
    right: 5px;
    left: 300px;
    height: 300px;
    width: 300px;

}

div.tea_form {
    position: absolute;
    left: 1000px;
	top: 350px;
  display: block;
  margin-top: 0em;
}

div.payment_form
{
	position:absolute;
	left: 1300px;
	top: 800px;
	display: block;
	background:#323A45;
	color: #FFFFF5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    letter-spacing: 0px;

}


input#order_tea_tealeaf
{
	
	margin-left: 142px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#order_tea_base_flavour
{
	margin-left: 83px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#order_tea_accent_flavour
{
	
   margin-left: 61px;
   width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#order_tea_create_name
{
	margin-left: 83px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#order_tea_client_name
{
margin-left: 90px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	
}


input#order_tea_client_address
{
margin-left: 60px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


input#order_tea_client_email
{
margin-left: 90px;
	width: 320px;
	height: 40px;
	background: #323A45;
	color: #FFFFF5;
	 opacity: .4;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	
}


h2
{
	position:absolute;
	top: 160px;
	left: 1000px;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 60px;
	color: #FFFFF5;
}

label.string.required
{
	font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
	font-size: 23px;
	color: #FFFFF5;
	letter-spacing: 1px;
}

label.email.required
{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
	font-size: 23px;
	color: #FFFFF5;
	letter-spacing: 1px;
	
}

h5
{
	color:#55ACAC;
}

input.button
{
    position:absolute;
    top: 600px;
    left: 375px;
    width: 175px;
    height: 50px;
    background:#323A45;
	color: #FFFFF5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
    letter-spacing: 0px;

}

div#recipes
{
	position:absolute;
	left: 300px;
    top: 400px;

}

div#recipes
{
  font-family: 'Indie Flower', cursive;
  font-size: 29px;
  color:#FFFFF5;
}

div#advices
{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color:#FFFFF5;
  position:absolute;
  left: 500px;
  top: 810px;

}


div.logo.cycle-slideshow
{
   position: absolute;
   bottom: 300px;
   height:500px;
   width: 700px;
	
}

